In [1]:
import pandas as pd

In [2]:
df = pd.read_excel ('data.xlsx', sheet_name='plants')
print (df)

      Batch Number Plant Date  Class  Fresh Weight (g)  Head Weight (g)  \
0              402 2020-04-11      3              15.0              NaN
1              402 2020-04-11      4              15.0              NaN
2              402 2020-04-11      1              16.0              NaN
3              402 2020-04-11      3              15.0              NaN
4              402 2020-04-11      3              15.0              NaN
...            ...        ...    ...               ...              ...
4854           738 2020-08-27      4             284.0             12.0
4855           738 2020-08-27      5             199.0              8.0
4856           738 2020-08-27      3             280.0             23.0
4857           738 2020-08-27      4             247.0             10.0
4858           738 2020-08-27      2             183.0             18.0

      Radial Diameter (mm)  Polar Diameter (mm)  Diameter Ratio  Leaves  \
0                      NaN                  NaN             NaN    10.0
1                      NaN                  NaN             NaN    11.0
2                      NaN                  NaN             NaN    12.0
3                      NaN                  NaN             NaN    10.0
4                      NaN                  NaN             NaN    11.0
...                    ...                  ...             ...     ...
4854                  50.0                 55.0        0.909091     NaN
4855                  45.0                 85.0        0.529412     NaN
4856                  60.0                 80.0        0.750000     NaN
4857                  45.0                 80.0        0.562500     NaN
4858                  35.0                102.0        0.343137     NaN

      Density (kg/L)  Leaf Area (cm^2)  Square ID Check Date Flight Date  \
0                NaN             185.0        208 2020-04-30         NaT
1                NaN             156.0        208 2020-04-30         NaT
2                NaN             137.0        208 2020-04-30         NaT
3                NaN             225.0        208 2020-04-30         NaT
4                NaN             157.0        208 2020-04-30         NaT
...              ...               ...        ...        ...         ...
4854             NaN             430.0       1172 2020-10-20         NaT
4855             NaN             358.0       1172 2020-10-20         NaT
4856             NaN             417.0       1172 2020-10-20         NaT
4857             NaN             413.0       1172 2020-10-20         NaT
4858             NaN             316.0       1172 2020-10-20         NaT

     Remove
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
4854    NaN
4855    NaN
4856    NaN
4857    NaN
4858    NaN

[4859 rows x 15 columns]

In [3]:
#!pip install openpyxl

In [4]:
df = pd.read_excel ('data.xlsx', sheet_name='flight dates')
print (df)

    Batch Number Flight Date
0            402  2020-04-30
1            408  2020-04-30
2            409  2020-04-30
3            466  2020-07-01
4            467  2020-07-01
5            468  2020-07-01
6            469  2020-07-06
7            471  2020-07-02
8            472  2020-07-02
9            473  2020-07-02
10           474  2020-07-03
11           475  2020-07-03
12           477  2020-07-03
13           478  2020-07-02
14           510  2020-07-08
15           511  2020-07-15
16           514  2020-07-09
17           517  2020-07-08
18           521  2020-07-08
19           534  2020-07-17
20           538  2020-07-13
21           541  2020-07-13
22           542  2020-07-13
23           582  2020-07-28
24           586  2020-07-28
25           587  2020-07-28
26           589  2020-07-31
27           590  2020-07-31
28           596  2020-07-31
29           597  2020-07-31
30           598  2020-07-31
31           607  2020-08-05
32           608  2020-08-11
33           610  2020-08-05
34           611  2020-08-05
35           612  2020-08-06
36           621  2020-08-12
37           622  2020-08-12
38           623  2020-08-12
39           625  2020-08-13
40           627  2020-08-13
41           628  2020-08-13
42           647  2020-08-26
43           649  2020-09-01
44           650  2020-08-27
45           651  2020-08-27
46           689  2020-09-09
47           690  2020-09-09
48           691  2020-09-10
49           693  2020-09-10

In [5]:
df = pd.read_excel ('data.xlsx', sheet_name='planting')
print (df)

         Crop  Column2  Column3           Plant_Date  Column1  Region  \
0           3      NaN      NaN  2020-02-06 00:00:00      NaN     0.0
1           3      NaN      NaN  2020-02-07 00:00:00      NaN     0.0
2           3      NaN      NaN  2020-02-07 00:00:00      NaN     0.0
3           3      NaN      NaN  2020-02-08 00:00:00      NaN     0.0
4           3      NaN      NaN  2020-02-10 00:00:00      NaN     0.0
...       ...      ...      ...                  ...      ...     ...
2368  Ice 309      NaN      NaN                  2,1      NaN   387.0
2369  Ice 309      NaN      NaN                  2,2      NaN   400.0
2370  Ice 309      NaN      NaN                  2,3      NaN   319.0
2371  Ice 309      NaN      NaN                  2,4      NaN   155.0
2372  Ice 309      NaN      NaN                  2,5      NaN   338.0

      Column4 Planting_Batch  Volume_Planted  Planting_Wk
0         NaN            392        198912.0          6.0
1         NaN            503         63840.0          6.0
2         NaN            614        179928.0          6.0
3         NaN            725        200256.0          6.0
4         NaN            770         13944.0          7.0
...       ...            ...             ...          ...
2368      NaN            NaN             NaN         80.0
2369      NaN            NaN             NaN        274.0
2370      NaN            NaN             NaN        224.0
2371      NaN            NaN             NaN        249.0
2372      NaN            NaN             NaN        251.0

[2373 rows x 10 columns]

In [6]:
df = pd.read_excel ('data.xlsx', sheet_name='weather')
print (df)

     Unnamed: 0  Solar Radiation [avg]  Precipitation [sum]  Wind Speed [avg]  \
0    2014-05-14                    159                  0.0               1.4
1    2014-05-15                    280                  0.0               0.6
2    2014-05-16                    186                  3.4               0.8
3    2014-05-17                    221                  0.0               1.0
4    2014-05-18                    255                  0.0               2.1
...         ...                    ...                  ...               ...
2551 2021-05-17                    196                  1.4               2.2
2552 2021-05-17                    173                  2.8               1.8
2553 2021-05-18                    311                  0.0               1.4
2554 2021-05-19                    232                  6.6               1.8
2555 2021-05-20                     44                  0.0               0.5

      Wind Speed [max]  Battery Voltage [last]  Leaf Wetness [time]  \
0                  3.3                    6834                   70
1                  2.3                    6894                  500
2                  2.7                    6874                  375
3                  3.3                    6874                  565
4                  5.5                    6854                  625
...                ...                     ...                  ...
2551               5.5                    7166                    0
2552               5.5                    6864                    0
2553               5.0                    6854                    0
2554               5.5                    6864                    0
2555               2.7                    7158                    0

      Air Temperature [avg]  Air Temperature [max]  Air Temperature [min]  \
0                     14.27                  18.90                   7.19
1                     13.51                  22.06                   3.04
2                     15.65                  24.24                   7.23
3                     17.46                  25.70                   9.93
4                     16.85                  24.62                   8.45
...                     ...                    ...                    ...
2551                  10.51                  14.53                   8.95
2552                  10.80                  14.53                   8.38
2553                  10.29                  17.14                   3.15
2554                  11.39                  16.61                   7.50
2555                   6.35                   9.15                   3.76

      Relative Humidity [avg]  Dew Point [avg]  Dew Point [min]  ET0 [result]
0                       64.95              7.0              5.6           NaN
1                       72.91              7.6              3.0           3.6
2                       74.69             10.5              6.5           2.9
3                       71.42             11.5              8.1           3.6
4                       74.45             11.4              8.3           4.2
...                       ...              ...              ...           ...
2551                    99.86             10.3              8.8           NaN
2552                    99.86             10.6              8.2           NaN
2553                    92.94              8.8              3.0           3.4
2554                    90.32              9.4              5.2           3.0
2555                    99.86              6.2              3.6           NaN

[2556 rows x 14 columns]